
body{
	margin: 0;
	padding: 0;
	font-family: "Lucida Console", monospace;
	background: #C7E6E8;

}

ul{
	position:absolute;
	top: 8%;
	left: 50%;
	transform: translate(-50%,-50%);
	margin: 0;
	padding: 20px 0; 
	background: #008f95; 
	display: flex; 
	border-radius: 10px; 
	box-shadow: 0 10px 30px rgba(0,0,0,.3)
}

ul li{
	list-style: none;
	text-align: center;
	display: block;
	border-right: 1px solid rgba(0,0,0,0.2);
}
ul li:last-child{
	border-right: none;
}
ul li a{
	text-decoration: none;
	padding: 0 50px;
	display: block;
}

ul li a .icon{
	width: 40px; 
	height: 40px; 
	text-align: center;
	overflow: hidden;
	margin: 0 auto 10px;
	
}

ul li a .icon .fa{
	width: 100%;
	height: 100%;
	line-height: 40px;
	font-size: 34px;
	transition: 0.5s; 
	color: #e9b000;
}


ul li a .icon .fa:last-child{
	color: #C7E6E8;
}

ul li a:hover .icon .fa{
	transform: translateY(-100%); 
}
ul li a .name{
	position: relative;
	height: 20px; 
	width: 100%;
	display: block;
	overflow: hidden;
}

ul li a .name span{
	display: block;
	position: relative;
	color: #e9b000;
	font-size: 18px; 
	line-height: 20px;
	transition: 0.5s; 
	
}

ul li a .name span:before{
	content: attr(data-text);
	position: absolute;
	top: -100%;
	width: 100%;
	left: 0;
	height: 1005;
	color: #C7E6E8;
	
}

ul li a:hover .name span{
	transform: translateY(20px);
}

.logo-image{
    width: 100px;
    height: 70px;
    margin-left: -30px;
    margin-right: 120px;
    margin-top: -2px;
}

.center{
	text-align: center;
}

#middlebox {
	position: absolute;
	width: 500px;
	height:350px;
	background-color: #e9b000;
	padding: 50px;
	margin: 20px;
	transform: translate(65%, 40%);
	border-radius: 10px; 
	justify-content: center;
	box-shadow: 0 10px 30px rgba(0,0,0,.3);
  }

#info_font {
	font-family: "Lucida Console", monospace;
	font-size: 18px; 
}
