
<!doctype html>
    <head>
        <title>Colour Match</title>
        <link rel="icon" href="{{url_for('static',filename='/img/logo2.png')}}" type="image/icon type"> <!-- logo made using abobe -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/base.css') }}"> <!-- base css for website -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/game.css') }}">  <!-- game css for game page -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> 
        <!-- used to create icons from font-awesome -->
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    </head>
    <body>
        <ul>
            <li>
                <a href="{{ url_for('index') }}">
                    <div class="icon">
                        <i class="fa fa-home" aria-hidden="true"></i> <!-- home logo -->
                        <i class="fa fa-home" aria-hidden="true"></i>
                    </div>
                    <div class="name"><span data-text="Home">Home</span></div>
                </a>
            </li>
            
            <li>
                <a href="{{ url_for('play') }}">
                    <div class="icon">
                        <i class="fa fa-gamepad" aria-hidden="true"></i>	<!-- game icon -->
                        <i class="fa fa-gamepad" aria-hidden="true"></i>		
                    </div>
                    <div class="name"><span data-text="Game">Game</span></div>
                </a>
            </li>
            <li>
                <a class="navbar-brand" href="/">
                    <div class="logo-image"> <!-- logo for colour match -->
                          <img src="{{url_for('static',filename='/img/logo1.png')}}" class="img-fluid" width = '250' height="83">
                    </div>
                </a>
            </li>
            <li>
                <a href="{{ url_for('score') }}">
                    <div class="icon">
                        <i class="fa fa-trophy" aria-hidden="true"></i>	<!-- leaderboard icon -->
                        <i class="fa fa-trophy" aria-hidden="true"></i>		
                    </div>
                    <div class="name"><span data-text="Results">Results</span></div>
                </a>
            </li>
            {% if current_user.is_anonymous %}
            <li>
                <a href="{{ url_for('login') }}">
                    <div class="icon">
                        <i class="fa fa-sign-in" aria-hidden="true"></i> <!-- sign in icon -->
                        <i class="fa fa-sign-in" aria-hidden="true"></i>		
                    </div>
                    <div class="name"><span data-text="Login">Login</span></div>
                </a>
            </li>
            {% else %}
            <li>
                <a href="{{ url_for('logout') }}">
                    <div class="icon">
                        <i class="fa fa-sign-out" aria-hidden="true"></i> <!-- sign out logo -->  
                        <i class="fa fa-sign-out" aria-hidden="true"></i>       
                    </div>
                    <div class="name"><span data-text="Logout">Logout</span></div>
                </a>
            </li>
            {% endif %}
        </ul>
            
        <div id = 'middlebox' class = 'center'>  {% block content %}{% endblock %} </div> <!-- box to placed on all pages of website except game page -->
        <div id = "gameDiv"> {% block game %}{% endblock %} </div> <!-- used for game page -->
        <div id = "sharing" class= 'center'> {% block sharing %}{% endblock %} </div> <!-- used for sharing page -->
        
       
       
    </body>
</html>
