{% extends "base.html" %}



{% block content %}


 

        <h1 class = 'center' id = 'resultsheader'> RESULTS </h1>
    <table id = 'rankings' class = "center" >
        <thead id = 'info_font'>
            <tr>
                <th> Rank </th>
                <th> Username</th>
                <th>Highest Score</th>
                <th>Average Score</th>
                <th> Games Played</th>
            </tr>
        </thead>

        <tbody id = 'info_font'>
            {% for i in res %}
            <tr>
                <td class="count"> </td>
                <td> {{ i[0] }}</td>
                <td> {{ i[1] }}</td>
                <td> {{ i[3] }}</td>
                <td> {{ i[2] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}




{%block sharing%}


<script>

function copyTextFunc() {

    var copyText = document.querySelector('#high_sc').innerText;
    navigator.clipboard.writeText(copyText);
 };

</script>



<p id = 'high_sc'> My highest score at Colour Match is {{highest_score[0]}}.
    Play the game today and try beat me!
</p> 
<button id="copy_btn" onclick=copyTextFunc()>Click Here to Share</button>


{% endblock %}

