{% extends "base.html" %}

{% block content %}
<body>
 
</div>
<div id = 'middlebox' class = 'results-box'>
        <h1 class = 'center' id = 'resultsheader'> RESULTS </h1>
    <table id = 'rankings' class = "center" >
        <thead id = 'info_font'>
            <tr>
                <th> Rank </th>
                <th> Username</th>
                <th>Highest Score</th>
                <th>Average Score</th>
                <th> Games Played</th>
            </tr>
        </thead>

        <tbody id = 'info_font'>
            {% for i in res %}
            <tr>
                <td class="count"> </td>
                <td> {{ i[0] }}</td>
                <td> {{ i[1] }}</td>
                <td> {{ i[3] }}</td>
                <td> {{ i[2] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>

{% endblock %}